/*============================================================
		CUSTOMISE COLOURS  - includes code from t4.css
============================================================*/

body {
	background-color:#eee;
}

/*============================================================
		HEADER
============================================================*/
/*header font colour,background colour and background image*/
div#header{
	color:#FFF;
	background-color:#5B5B5B;
	background-image: url("/media/css/palaeo/watermark.gif");
}

	/*--header h1 area title colour--*/
	div#header div#location h1{
		color:#fff;
	}

	/*--search label colour--*/
	div#header form label{
		color:#fff;
	}
	
	/*--search box border colour--*/
	div#header form input{
		color:#000000;
		border:1px solid #4D4E52;
	}
	
	/*--search button border colour, text colour, background colour--*/
	div#header form input.submit{
		color:#fff;
		background-color:#161103;
		border:1px solid #AEAEAE;
	}
	
		/*--search paragraph separator pipe (|) colour--*/
		div#header form p{
			color:#fff;
		}
	

/*============================================================
		EXTRA LINKS
============================================================*/
/*--extra-links text colour,background colour--*/
div#extra-links{	
	color:#000;
	background-color:#FFBB00;
}
	
	/*--highlight surrounding links background colour--*/
	div#extra-links p span{
		background-color:#F9DE94;
	}
	
		/*--link colours for extra-links--*/
		/*link*/
		div#extra-links p span a:link{
			color:#000;
		}
		/*visited*/
		div#extra-links p span a:visited{
			color:#000;
		}
		/*hover*/
		div#extra-links p span a:hover{
			color:#000;
		}
		

/*============================================================
		BREADCRUMB
============================================================*/
/*--breadcrumb text colour, background colour--*/
div#breadcrumb{
	color:#000;
	background-color:#EEEEEE;
}

	/*--link colours for breadcrumb--*/
	/*link*/
	div#breadcrumb a:link{
		color:#000;
	}
		/*visited*/
		div#breadcrumb a:visited{
			color:#000;
		}
		/*hover*/
		div#breadcrumb a:hover{
			color:#000;
		}
		
/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION
============================================================*/

#nav li a , #nav li li a, #nav li li li a , #nav li li li li a {
	color: #000;
	border-bottom: 1px solid white;
	background-image:url("/media/css/palaeo/arrow_nav.gif"); 
}

#nav li span.currentbranch0 a, #nav li span.currentbranch1 a, #nav li span.currentbranch2 a, #nav li span.currentbranch3 a, #nav li span.currentbranch4 a {
	background-image: url("/media/css/palaeo/arrow_nav_down.gif")
}

#nav li span.parent, #nav li span.parent a.parent {
	color:#000;  
	background-color:#FFBB00; 
	background-image:url("/media/css/palaeo/arrow_nav_down.gif");
}

#nav .children {
	color:#000; 
	background-color:#F9DE94; 
	background-image:url("/media/css/palaeo/arrow_nav.gif");
}

/* all levels hover*/
#nav li a:hover {
	color:#FFF !important;
	background-color:#28292B !important;
	background-image: url("/media/global/templateimages/arrow_white.gif");	
}

#nav li span.currentbranch0 a:hover, #nav li span.currentbranch1 a:hover, #nav li span.currentbranch2 a:hover, #nav li span.currentbranch3 a:hover, #nav li span.currentbranch4 a:hover   {
	background-image: url("/media/global/templateimages/arrow_nav_down_white.gif");
}


/*============================================================
		BOXOUT REGIONS
============================================================*/



.boxout, .leftBox, .rightBox {
	background-color:#EEEEEE;
	border-color:#EEEEEE;
}

.boxoutAlt {
	background-color:#F9DE94;
	border-color:#F9DE94;	
}




/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/

/*--H1 to H6 text colour--*/
div#mdcolumn h1 {
	color:#000;
}

div#mdcolumn h2, div#mdcolumn h3, div#mdcolumn h4, div#mdcolumn h5, div#mdcolumn h6{
	color:#28292B;
}

div#mdcolumn h2 {
border-bottom:3px solid #E7B220; 

}

/* override h2 colour for links  in columns*/
div#mdcolumn .col-half h2 a:link, div#mdcolumn .col-third h2 a:link,
div#mdcolumn .col-half h2 a:visited, div#mdcolumn .col-third h2 a:visited,
div#mdcolumn .col-half h2 a:hover, div#mdcolumn .col-third h2 a:hover{
	color:#000;
}
			

div#mdcolumn li {
	background:transparent url("/media/css/palaeo/bullet.gif") no-repeat  0px 4px; 
}

/*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
div#mdcolumn hr{
	color:#ddd;
	background-color:#ddd;
}


	/*--table header border colour, background colour--*/
	table tr th{
		background-color:#6D6E71;
		color:#FFFFFF; 
	
	}
	
	/*--table subheader--*/
	table tbody tr th {
		background-color:#E7B220;
		color:#000; 
	}

div#mdcolumn input, div#mdcolumn textarea, div#rhcolumn input, div#rhcolumn textarea  {
border:1px solid #4D4E52; 
}

div#mdcolumn input.submit, div#rhcolumn input.submit {
border:1px solid #4D4E52; 
background-color:#E7B220; 
color:#111; 
}


/*Tabbed content*/

div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover {
	color: #28292B; 
}

/*============================================================
		HOMEPAGE FORMATTING
============================================================*/
div#mdcolumn .col-half h2, div#mdcolumn .col-third  h2{
	color:#000; 
	background-color:#FFBB00; 
}
div#mdcolumn .col-half .boxout h2, div#mdcolumn .col-third  .boxout h2{
	color:#FFF; 
	background-color:#6D6E71; 
}


div#mdcolumn .col-half .boxoutAlt h2, div#mdcolumn .col-third  .boxoutAlt h2{
	color:#000; 
	background-color:#FFBB00; 
}

/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/
/*--H1 to H4 text colour--*/
/*H1 colour*/
div#rhcolumn h1,div#rhcolumn h2,div#rhcolumn h3,div#rhcolumn h4{
	color:#444;
}

div#rhcolumn ul { 
	list-style-type: square;
	list-style-image:  url("/media/css/palaeo/bullet.gif");
}
/*============================================================
		FOOTER
============================================================*/
div#footer{
	border-top:1px solid #E6E5CF;
}

/*============================================================
		General link formatting
============================================================*/
	
a:link{
	color:#000;
}
a:visited{
		color:#6D6E71;
	}
a:hover{
		color:#000;
	}
