
/*============================================================
		CUSTOMISE COLOURS  - includes code from t4.css
============================================================*/

/*============================================================
		HEADER
============================================================*/
/*header font colour,background colour and background image*/
div#header{
	color:#fff;
	background-color:#535e64;
	background-image: url("/media/css/borthwick/watermark.gif");
}

	/*--header h1 area title colour--*/
	div#header div#location h1{
		color:#fff;
	}

	/*--search label colour--*/
	div#header form label{
		color:#fff;

	}
	/*--search box border colour--*/
	div#header form input{
		color:#000000;
		border:1px solid #bcbcbc;
	}

	/*--search button border colour, text colour, background colour--*/
	div#header form input.submit{
		color:#fff;
		background-color:#cc4728;
		border:1px solid #cc4728 ;
	}


/*============================================================
		EXTRA LINKS
============================================================*/
/*--extra-links text colour,background colour--*/
div#extra-links{
	color:#000;
	background-color:#a7b3ba;
}

	/*--highlight surrounding links background colour--*/
	div#extra-links p span{
		background-color:#9ca7ae;
	}

		/*--link colours for extra-links--*/
		/*link*/
		div#extra-links p span a:link{
			color:#000;
		}
		/*visited*/
		div#extra-links p span a:visited{
			color:#000;
		}
		/*hover*/
		div#extra-links p span a:hover{
			color:#000;
		}


/*============================================================
		BREADCRUMB
============================================================*/
/*--breadcrumb text colour, background colour--*/
div#breadcrumb{
	color:#000;
	background-color:#f57f20;
}

	/*--link colours for breadcrumb--*/
	/*link*/
	div#breadcrumb a:link{
		color:#000;
	}
		/*visited*/
		div#breadcrumb a:visited{
			color:#000;
		}
		/*hover*/
		div#breadcrumb a:hover{
			color:#000;
		}

/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION
============================================================*/

#nav li a , #nav li li a, #nav li li li a , #nav li li li li a {
	color: #000;
	border-bottom: 1px solid white;
	background-image:url("/media/css/borthwick/arrow_nav.gif");
}

#nav li span.currentbranch0 a, #nav li span.currentbranch1 a, #nav li span.currentbranch2 a, #nav li span.currentbranch3 a, #nav li span.currentbranch4 a {
	background-image: url("/media/css/borthwick/arrow_nav_down.gif")
}

#nav li span.parent, #nav li span.parent a.parent {
	color:#000;
	background-color:#F57F20;
	background-image:url("/media/global/templateimages/arrow_nav_down_white.gif");
}

#nav .children {
	color:#000;
	background-color:#f7e2b1;
	background-image:url("/media/css/borthwick/arrow_nav.gif");
}

/* all levels hover*/
#nav li a:hover {
	color:#FFF !important;
	background-color:#cc4728 !important;
	background-image: url("/media/global/templateimages/arrow_white.gif");
}

#nav li span.currentbranch0 a:hover, #nav li span.currentbranch1 a:hover, #nav li span.currentbranch2 a:hover, #nav li span.currentbranch3 a:hover, #nav li span.currentbranch4 a:hover   {
	background-image: url("/media/global/templateimages/arrow_nav_down_white.gif");
}

/*============================================================
		BOXOUT REGIONS
============================================================*/



.boxout, .leftBox, .rightBox {
	background-color:#eee;
	border-color:#ddd;
}

.boxoutAlt {
	background-color:#f9e7bd;
	border-color:#f1daa5;
}





/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/

/*--H1 to H6 text colour--*/
div#mdcolumn h1, div#mdcolumn h2, div#mdcolumn h3, div#mdcolumn h4, div#mdcolumn h5, div#mdcolumn h6{
	color:#cc4728;
}

div#mdcolumn h2 {border-bottom:3px solid #d5d5d5;

}

/* override h2 colour for links  in columns*/
div#mdcolumn .col-half h2 a:link, div#mdcolumn .col-third h2 a:link,
div#mdcolumn .col-half h2 a:visited, div#mdcolumn .col-third h2 a:visited,
div#mdcolumn .col-half h2 a:hover, div#mdcolumn .col-third h2 a:hover{
	color:white;
}


div#mdcolumn li {
	background:transparent url("/media/css/borthwick/bullet.gif") no-repeat  0px 4px;
}

/*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
div#mdcolumn hr{
	color:#d5d5d5;
	background-color:#d5d5d5;
}



		/*--table header border colour, background colour--*/
	table tr th{
		background-color:#f57f20;
		color:#fff;

	}

	/*--table subheader--*/
	table tbody tr th {
		background-color:#d5d5d5;
		color:#111;
	}

		div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover {
	color: #cc4728;
}

div#mdcolumn input.submit, div#rhcolumn input.submit {
	border:1px solid #f57f20;
	background-color:#f57f20;
	color:#fff;
}

/*============================================================
		HOMEPAGE FORMATTING
============================================================*/
div#mdcolumn .col-half h2, div#mdcolumn .col-third  h2{
	color:#FFF;
	background-color:#535e64;
}
div#mdcolumn .col-half .boxoutAlt h2, div#mdcolumn .col-third  .boxoutAlt h2{
	color:#FFF;
	background-color:#535e64;
}


/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/
/*--H1 to H4 text colour--*/
/*H1 colour*/
div#rhcolumn h1,div#rhcolumn h2,div#rhcolumn h3,div#rhcolumn h4{
	color:#cc4728;
}

div#rhcolumn ul {
	list-style-type: square;
	list-style-image:  url("/media/css/borthwick/bullet.gif");
}
/*============================================================
		FOOTER
============================================================*/
div#footer{
	border-top:1px solid #d5d5d5;
}

/*============================================================
		General link formatting
============================================================*/

a:link{
	color:#cc4728;
}
a:visited{
		color:#cc4728;
	}
a:hover{
		color:#cc4728;
	}

/*============================================================
		CALL TO ACTION LINKS
============================================================*/

.cta a, .cta a:link, .cta a:visited, a.cta , a.cta:link, a.cta:visited ,
#mdcolumn .cta a[href^="http://"],
#mdcolumn .cta a[href^="https://"],
#mdcolumn a.cta[href^="http://"],
#mdcolumn a.cta[href^="https://"],
#rhcolumn .cta a[href^="http://"],
#rhcolumn .cta a[href^="https://"],
#rhcolumn a.cta[href^="http://"],
#rhcolumn a.cta[href^="https://"]{
	background: #cc4728;
}

/*============================================================
		borthwick specific
============================================================*/

.search-borthwick input[type=text], .search-borthwick input[type=submit] {
padding: 5px;

}
#borthwick-search-keywords-label {
	color:#f57f20;
}

.borthwick-search-options {
	display:block;
	float:left;
	margin-top:10px;
}


.borthwick-search-options.catalogue {
	margin-left:145px;
}

.borthwick-search-options.everything {
	margin-left:25px;
}

.borthwick-search-options label {
display: block;

margin: -17px 0 0 18px;
}
