
/*============================================================
		CUSTOMISE COLOURS  - includes code from t4.css
============================================================*/

/*============================================================
		HEADER
============================================================*/
/*header font colour,background colour and background image*/
div#header{
	color:#444;
	background-color:#a9c80d;
	background-image: url("/media/css/electronics/watermark.gif");
}

	/*--header h1 area title colour--*/
	div#header div#location h1{
		color:#444;
	}

	/*--search label colour--*/
	div#header form label{
		color:#444;
	}
	
	/*--search box border colour--*/
	div#header form input{
		color:#000000;
		border:1px solid #D6D3A4;
	}
	
	/*--search button border colour, text colour, background colour--*/
	div#header form input.submit{
		color:#fff;
		background-color:#444;
		border:1px solid #444;
	}
	

/*============================================================
		EXTRA LINKS
============================================================*/
/*--extra-links text colour,background colour--*/
div#extra-links{	
	color:#FFF;
	background-color:#444;
}
	
	/*--highlight surrounding links background colour--*/
	div#extra-links p span{
		background-color:#444;
	}
	
		/*--link colours for extra-links--*/
		/*link*/
		div#extra-links p span a:link{
			color:#FFF;
		}
		/*visited*/
		div#extra-links p span a:visited{
			color:#FFF;
		}
		/*hover*/
		div#extra-links p span a:hover{
			color:#FFF;
		}
		

/*============================================================
		BREADCRUMB
============================================================*/
/*--breadcrumb text colour, background colour--*/
div#breadcrumb{
	color:#444;
	background-color:#eee;
}

	/*--link colours for breadcrumb--*/
	/*link*/
	div#breadcrumb a:link{
		color:#444;
	}
		/*visited*/
		div#breadcrumb a:visited{
			color:#444;
		}
		/*hover*/
		div#breadcrumb a:hover{
			color:#444;
		}
		
/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION
============================================================*/

#nav li a , #nav li li a, #nav li li li a , #nav li li li li a {
	color: #444;
	border-bottom: 1px solid white;
	background-image:url("/media/css/electronics/arrow_nav.gif"); 
}

#nav li span.currentbranch0 a, #nav li span.currentbranch1 a, #nav li span.currentbranch2 a, #nav li span.currentbranch3 a, #nav li span.currentbranch4 a {
	background-image: url("/media/css/electronics/arrow_nav_down.gif")
}

#nav li span.parent, #nav li span.parent a.parent {
	color:#444;  
	background-color:#a9c80d; 
	background-image:url("/media/global/templateimages/arrow_nav_down_white.gif");
}

#nav .children {
	color:#444; 
	background-color:#f3f7e0; 
	background-image:url("/media/css/electronics/arrow_sub_nav.gif");
}

/* all levels hover*/
#nav li a:hover {
	color:#FFF !important;
	background-color:#444 !important;
	background-image: url("/media/global/templateimages/arrow_white.gif");	
}

#nav li span.currentbranch0 a:hover, #nav li span.currentbranch1 a:hover, #nav li span.currentbranch2 a:hover, #nav li span.currentbranch3 a:hover, #nav li span.currentbranch4 a:hover   {
	background-image: url("/media/global/templateimages/arrow_nav_down_white.gif");
}


/*============================================================
		BOXOUT REGIONS
============================================================*/



.boxout, .leftBox, .rightBox {
	background-color:#eee;
	border-color:#e3e1e1;
}

.boxoutAlt {
	background-color:#444;
	border-color:#444;	
}


div#mdcolumn .boxoutAlt, 
div#mdcolumn .boxoutAlt p, 
div#mdcolumn .boxoutAlt h2, 
div#mdcolumn .boxoutAlt h3, 
div#mdcolumn .boxoutAlt h4, 
div#mdcolumn .boxoutAlt h5, 
div#mdcolumn .boxoutAlt a:link,
div#mdcolumn .boxoutAlt a:visited,
div#mdcolumn .boxoutAlt a:hover ,
div#mdcolumn .boxoutAlt li ,
div#rhcolumn .boxoutAlt, 
div#rhcolumn .boxoutAlt p, 
div#rhcolumn .boxoutAlt h2, 
div#rhcolumn .boxoutAlt h3, 
div#rhcolumn .boxoutAlt h4, 
div#rhcolumn .boxoutAlt h5, 
div#rhcolumn .boxoutAlt a:link,
div#rhcolumn .boxoutAlt a:visited,
div#rhcolumn .boxoutAlt a:hover,
div#rhcolumn .boxoutAlt li
{
	color:#FFF; 
}

div#rhcolumn .boxoutAlt ul{
	list-style-image:  url("/media/global/templateimages/bullet_white.gif");
}

div#mdcolumn .boxoutAlt li {
	background:transparent url("/media/global/templateimages/bullet_white.gif") no-repeat scroll 0 4px; 
}


/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/

/*--H1 to H6 text colour--*/
div#mdcolumn h1, div#mdcolumn h2, div#mdcolumn h3, div#mdcolumn h4, div#mdcolumn h5, div#mdcolumn h6{
	color:#6c7d00;
}

div#mdcolumn h2 {border-bottom:3px solid #c9d576; 

}

/* override h2 colour for links  in columns*/
div#mdcolumn .col-half h2 a:link, div#mdcolumn .col-third h2 a:link,
div#mdcolumn .col-half h2 a:visited, div#mdcolumn .col-third h2 a:visited,
div#mdcolumn .col-half h2 a:hover, div#mdcolumn .col-third h2 a:hover{
	color:#fff
}
			

div#mdcolumn li, div#mdcolumn ol ul li   {
	background:transparent url("/media/css/electronics/bullet.gif") no-repeat  0px 4px; 
}


/*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
div#mdcolumn hr{
	color:#e6e5cf;
	background-color:#e6e5cf;
}


	/*--table header border colour, background colour--*/
	table tr th{
		background-color:#a9c80d;
		color:#444; 
	
	}
	
	/*--table subheader--*/
	table tbody tr th {
		background-color:#c4e132;
		color:444; 
	}


div#mdcolumn input.submit, div#rhcolumn input.submit {
border:1px solid #c4e132; 
background-color:#c4e132; 
color:#444; 
}


/*Tabbed content*/

div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover {
	color: #6c7d00; 
}


/*Course template*/
div#mdcolumn #course-apply-now {
	background-color: #c4e132;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c4e132), to(#a9c80d));
	background-image: -webkit-linear-gradient(top, #c4e132, #a9c80d);
	background-image: -moz-linear-gradient(top, #c4e132, #a9c80d);
	background-image: -ms-linear-gradient(top, #c4e132, #a9c80d);
	background-image: -o-linear-gradient(top, #c4e132, #a9c80d);
	background-image: linear-gradient(top, #c4e132, #a9c80d);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c4e132', EndColorStr='#a9c80d'); 
	border-color: #a9c80d; 
}

div#mdcolumn #course-apply-now:hover {
	background-color:#a9c80d; 
}


/*============================================================
		HOMEPAGE FORMATTING
============================================================*/
div#mdcolumn .col-half h2, div#mdcolumn .col-third  h2{
	color:#fff; 
	background-color:#a9c80d; 
}
div#mdcolumn .col-half .boxoutAlt h2, div#mdcolumn .col-third  .boxoutAlt h2{
	color:#FFF; 
	background-color:#444; 
}

/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/
/*--H1 to H4 text colour--*/
/*H1 colour*/
div#rhcolumn h1,div#rhcolumn h2,div#rhcolumn h3,div#rhcolumn h4{
	color:#6c7d00;
}

div#rhcolumn ul { 
	list-style-type: square;
	list-style-image:  url("/media/css/electronics/bullet.gif");
}
/*============================================================
		FOOTER
============================================================*/
div#footer{
	border-top:1px solid #E6E5CF;
}

/*============================================================
		General link formatting
============================================================*/
	
a:link{
	color:#6c7d00;
}
a:visited{
		color:#444;
	}
a:hover{
		color:#6c7d00;
	}
