/*============================================================
		CUSTOMISE COLOURS  - includes code from t4.css
============================================================*/

/*============================================================
		HEADER
============================================================*/
/*header font colour,background colour and background image*/
div#header{
	color:#FFF;
	background-color:#2C100E;
	background-image: url("/media/css/biology/watermark.gif");
}

	/*--header h1 area title colour--*/
	div#header div#location h1{
		color:#F7AB00;
	}

	/*--search label colour--*/
	div#header form label{
		color:#FFF;
	}
	
	/*--search box border colour--*/
	div#header form input{
		color:#000000;
		border:1px solid #BBBBBB;
	}
	
	/*--search button border colour, text colour, background colour--*/
	div#header form input.submit{
		color:#000000;
		background-color:#F7AB00;
		border:1px solid #F3F6DE;
	}
	

/*============================================================
		EXTRA LINKS
============================================================*/
/*--extra-links text colour,background colour--*/
div#extra-links{	
	color:#000;
	background-color:#D3E172;
}
	
	/*--highlight surrounding links background colour--*/
	div#extra-links p span{
		background-color:#C1D141;
	}
	
		/*--link colours for extra-links--*/
		/*link*/
		div#extra-links p span a:link{
			color:#000;
		}
		/*visited*/
		div#extra-links p span a:visited{
			color:#000;
		}
		/*hover*/
		div#extra-links p span a:hover{
			color:#000;
		}
		

/*============================================================
		BREADCRUMB
============================================================*/
/*--breadcrumb text colour, background colour--*/
div#breadcrumb{
	color:#000;
	background-color:#F3F6DF;
}

	/*--link colours for breadcrumb--*/
	/*link*/
	div#breadcrumb a:link{
		color:#000;
	}
		/*visited*/
		div#breadcrumb a:visited{
			color:#000;
		}
		/*hover*/
		div#breadcrumb a:hover{
			color:#000;
		}
		
/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION
============================================================*/

#nav li a , #nav li li a, #nav li li li a , #nav li li li li a {
	color: #000;
	border-bottom: 1px solid white;
	background-image:url("/media/css/biology/arrow_nav.gif"); 
}

#nav li span.currentbranch0 a, #nav li span.currentbranch1 a, #nav li span.currentbranch2 a, #nav li span.currentbranch3 a, #nav li span.currentbranch4 a {
	background-image: url("/media/css/biology/arrow_nav_down.gif")
}

#nav li span.parent, #nav li span.parent a.parent {
	color:#000;  
	background-color:#C1D141; 
	background-image:url("/media/css/biology/arrow_nav_down.gif");
}

#nav .children {
	color:#000; 
	background-color:#F3F6DF; 
	background-image:url("/media/css/biology/arrow_nav.gif");
}

/* all levels hover*/
#nav li a:hover {
	color:#000 !important;
	background-color:#F7AB00 !important;
	background-image: url("/media/css/biology/arrow_nav.gif");	
}

#nav li span.currentbranch0 a:hover, #nav li span.currentbranch1 a:hover, #nav li span.currentbranch2 a:hover, #nav li span.currentbranch3 a:hover, #nav li span.currentbranch4 a:hover   {
	background-image: url("/media/css/biology/arrow_nav_down.gif");
}


/*============================================================
		BOXOUT REGIONS
============================================================*/



.boxout, .leftBox, .rightBox {
	background-color:#F3F6DF;
	border-color:#F3F6DF;
}

.boxoutAlt {
	background-color:#D3E172;
	border-color:#D3E172;	
}



/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/

/*--H1 to H6 text colour--*/
div#mdcolumn h1, div#mdcolumn h2, div#mdcolumn h3, div#mdcolumn h4, div#mdcolumn h5, div#mdcolumn h6{
	color:#2C100E;
}

div#mdcolumn h2 {border-bottom:3px solid #e3eab4; 

}

/* override h2 colour for links  in columns*/
div#mdcolumn .col-half h2 a:link, div#mdcolumn .col-third h2 a:link,
div#mdcolumn .col-half h2 a:visited, div#mdcolumn .col-third h2 a:visited,
div#mdcolumn .col-half h2 a:hover, div#mdcolumn .col-third h2 a:hover{
	color:black;
} 
			

div#mdcolumn li {
	background:transparent url("/media/css/biology/bullet.gif") no-repeat  0px 4px; 
}


/*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
div#mdcolumn hr{
	color:#E3EAB4;
	background-color:#E3EAB4;
}


	/*--table header border colour, background colour--*/
	table tr th{
		background-color:#B5C630;
		color:#000; 
	
	}
	
	/*--table subheader--*/
	table tbody tr th {
		background-color:#E3EAB4;
		color:#1D1D1D; 
	}

div#mdcolumn input, div#mdcolumn textarea, div#rhcolumn input, div#rhcolumn textarea  {
border:1px solid #AAA; 
}

div#mdcolumn input.submit, div#rhcolumn input.submit {
border:1px solid #AAA; 
background-color:#B5C630; 
color:#111; 
}


/*Tabbed content*/

div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover {
	color: #3B5805; 
}


/*Course template*/
div#mdcolumn #course-apply-now {
	background-color: #F7AB00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbf30), to(#F7AB00));
	background-image: -webkit-linear-gradient(top, #ffbf30, #F7AB00);
	background-image: -moz-linear-gradient(top, #ffbf30, #F7AB00);
	background-image: -ms-linear-gradient(top, #ffbf30, #F7AB00);
	background-image: -o-linear-gradient(top, #ffbf30, #F7AB00);
	background-image: linear-gradient(top, #ffbf30, #F7AB00);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffbf30', EndColorStr='#F7AB00'); 
	border-color: #F7AB00; 
	color:#111; 
}

div#mdcolumn #course-apply-now:hover {
	background-color:#F7AB00; 
}


/*============================================================
		HOMEPAGE FORMATTING
============================================================*/
div#mdcolumn .col-half h2, div#mdcolumn .col-third  h2{
	color:#000; 
	background-color:#B5C630; 
}
div#mdcolumn .col-half .boxoutAlt h2, div#mdcolumn .col-third  .boxoutAlt h2{
	color:#000; 
	background-color:#C1D141; 
}

/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/
/*--H1 to H4 text colour--*/
/*H1 colour*/
div#rhcolumn h1,div#rhcolumn h2,div#rhcolumn h3,div#rhcolumn h4{
	color:#2C100E;
}

div#rhcolumn ul { 
	list-style-type: square;
	list-style-image:  url("/media/css/biology/bullet.gif");
}
/*============================================================
		FOOTER
============================================================*/
div#footer{
	border-top:1px solid #E6E5CF;
}

/*============================================================
		General link formatting
============================================================*/
	
a:link{
	color:#3B5805; 
}
a:visited{
		color:#753530;
	}
a:hover{
		color:#3B5805;
	}
