/*============================================================
		CUSTOMISE COLOURS  - includes code from t4.css
============================================================*/

/*============================================================
		HEADER
============================================================*/
/*header font colour,background colour and background image*/
div#header{
	color:#000;
	background-color:#FFF;
	background-image: url("/media/global/templateimages/watermark.gif");
}

	/*--header h1 area title colour--*/
	div#header div#location h1{
		color:#111;
	}

	/*--search label colour--*/
	div#header form label{
		color:#111;
	}
	
	/*--search box border colour--*/
	div#header form input{
		color:#000000;
		border:1px solid #BCBCBC;
	}
	
	/*--search button border colour, text colour, background colour--*/
	div#header form input.submit{
		color:#fff;
		background-color:#2E4C6F;
		border:1px solid #002147;
	}
	

/*============================================================
		EXTRA LINKS
============================================================*/
/*--extra-links text colour,background colour--*/
div#extra-links{	
	color:#FFF;
	background-color:#002147;
}
	
	/*--highlight surrounding links background colour--*/
	div#extra-links p span{
		background-color:#2E4C6F;
	}
	
		/*--link colours for extra-links--*/
		/*link*/
		div#extra-links p span a:link{
			color:#FFF;
		}
		/*visited*/
		div#extra-links p span a:visited{
			color:#FFF;
		}
		/*hover*/
		div#extra-links p span a:hover{
			color:#FFF;
		}
		

/*============================================================
		BREADCRUMB
============================================================*/
/*--breadcrumb text colour, background colour--*/
div#breadcrumb{
	color:#000;
	background-color:#D5D5D5;
}

	/*--link colours for breadcrumb--*/
	/*link*/
	div#breadcrumb a:link{
		color:#000;
	}
		/*visited*/
		div#breadcrumb a:visited{
			color:#000;
		}
		/*hover*/
		div#breadcrumb a:hover{
			color:#000;
		}
		
/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION
============================================================*/

#nav li a , #nav li li a, #nav li li li a , #nav li li li li a {
	color: #000;
	border-bottom: 1px solid white;
	background-image:url("/media/css/language-linguistics/arrow_nav.gif"); 
}

#nav li span.currentbranch0 a, #nav li span.currentbranch1 a, #nav li span.currentbranch2 a, #nav li span.currentbranch3 a, #nav li span.currentbranch4 a {
	background-image: url("/media/css/language-linguistics/arrow_nav_down.gif")
}

#nav li span.parent, #nav li span.parent a.parent {
	color:#FFF;  
	background-color:#002147; 
	background-image:url("/media/global/templateimages/arrow_nav_down_white.gif");
}

#nav .children {
	color:#FFF; 
	background-color:#2E4C6F; 
	background-image:url("/media/css/language-linguistics/arrow_nav.gif");
}

/* all levels hover*/
#nav li a:hover {
	color:#FFF !important;
	background-color:#001833 !important;
	background-image: url("/media/global/templateimages/arrow_white.gif");	
}

#nav li span.currentbranch0 a:hover, #nav li span.currentbranch1 a:hover, #nav li span.currentbranch2 a:hover, #nav li span.currentbranch3 a:hover, #nav li span.currentbranch4 a:hover   {
	background-image: url("/media/global/templateimages/arrow_nav_down_white.gif");
}


/*============================================================
		BOXOUT REGIONS
============================================================*/



.boxout, .leftBox, .rightBox {
	background-color:#C2D4E8;
	border-color:#C2D4E8;
}

.boxoutAlt {
	background-color:#D5D5D5;
	border-color:#D5D5D5;	
}


/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/

/*--H1 to H6 text colour--*/
div#mdcolumn h1, div#mdcolumn h2, div#mdcolumn h3, div#mdcolumn h4, div#mdcolumn h5, div#mdcolumn h6{
	color:#002147;
}

div#mdcolumn h2 {border-bottom:3px solid #DBDBDB; 

}

/* override h2 colour for links  in columns*/
div#mdcolumn .col-half h2 a:link, div#mdcolumn .col-third h2 a:link,
div#mdcolumn .col-half h2 a:visited, div#mdcolumn .col-third h2 a:visited,
div#mdcolumn .col-half h2 a:hover, div#mdcolumn .col-third h2 a:hover{
	color:white;
}
			

div#mdcolumn li {
	background:transparent url("/media/css/language-linguistics/bullet.gif") no-repeat  0px 4px; 
}


/*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
div#mdcolumn hr{
	color:#DBDBDB;
	background-color:#DBDBDB;
}


	/*--table header border colour, background colour--*/
	table tr th{
		background-color:#002147;
		color:#FFFFFF; 
	
	}
	
	/*--table subheader--*/
	table tbody tr th {
		background-color:#D3D2D2;
		color:#1D1D1D; 
	}


div#mdcolumn input.submit, div#rhcolumn input.submit {
border:1px solid #2E4C6F; 
background-color:#2E4C6F; 
color:#fff; 
}


/*Tabbed content*/

div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover {
	color: #0046C0; 
}

/*Course template*/
div#mdcolumn #course-apply-now {
	background-color: #002147;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2E4C6F), to(#002147));
	background-image: -webkit-linear-gradient(top, #2E4C6F, #002147);
	background-image: -moz-linear-gradient(top, #2E4C6F, #002147);
	background-image: -ms-linear-gradient(top, #2E4C6F, #002147);
	background-image: -o-linear-gradient(top, #2E4C6F, #002147);
	background-image: linear-gradient(top, #2E4C6F, #002147);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2E4C6F', EndColorStr='#002147'); 
	border-color: #002147; 
	color:#fff; 
}

div#mdcolumn #course-apply-now:hover {
	background-color:#002147; 
}

/*============================================================
		HOMEPAGE FORMATTING
============================================================*/
div#mdcolumn .col-half h2, div#mdcolumn .col-third  h2{
	color:#FFF; 
	background-color:#2E4C6F; 
}
div#mdcolumn .col-half .boxoutAlt h2, div#mdcolumn .col-third  .boxoutAlt h2{
	color:#002147; 
	background-color:#BCBCBC; 
}

/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/
/*--H1 to H4 text colour--*/
/*H1 colour*/
div#rhcolumn h1,div#rhcolumn h2,div#rhcolumn h3,div#rhcolumn h4{
	color:#002147;
}

div#rhcolumn ul { 
	list-style-type: square;
	list-style-image:  url("/media/css/language-linguistics/bullet.gif");
}
/*============================================================
		FOOTER
============================================================*/
div#footer{
	border-top:1px solid #E6E5CF;
}

/*============================================================
		General link formatting
============================================================*/
	
a:link{
	color:#0046C0;
}
a:visited{
		color:#2E4662;
	}
a:hover{
		color:#0046C0;
	}
