/*============================================================
		CUSTOMISE COLOURS  - includes code from t4.css
============================================================*/

/*============================================================
		HEADER
============================================================*/
/*header font colour,background colour and background image*/
div#header{
	color:#125282;
	background-color:#FFF;
	background-image: url("/media/global/templateimages/watermark.gif");
}

	/*--header h1 area title colour--*/
	div#header div#location h1{
		color:#125282;
	}

	/*--search label colour--*/
	div#header form label{
		color:#000;
	}
	
	/*--search box border colour--*/
	div#header form input{
		color:#000000;
		border:1px solid #9EC2E4;
	}
	
	/*--search button border colour, text colour, background colour--*/
	div#header form input.submit{
		color:#366198;
		background-color:#D0E1F3;
		border:1px solid #9EC2E4;
	}
	

/*============================================================
		EXTRA LINKS
============================================================*/
/*--extra-links text colour,background colour--*/
div#extra-links{	
	color:#FFF;
	background-color:#0A83D2;
}
	
	/*--highlight surrounding links background colour--*/
	div#extra-links p span{
		background-color:#0C68A4;
	}
	
		/*--link colours for extra-links--*/
		/*link*/
		div#extra-links p span a:link{
			color:#FFF;
		}
		/*visited*/
		div#extra-links p span a:visited{
			color:#FFF;
		}
		/*hover*/
		div#extra-links p span a:hover{
			color:#FFF;
		}
		

/*============================================================
		BREADCRUMB
============================================================*/
/*--breadcrumb text colour, background colour--*/
div#breadcrumb{
	color:#000;
	background-color:#C1E1F9;
}

	/*--link colours for breadcrumb--*/
	/*link*/
	div#breadcrumb a:link{
		color:#000;
	}
		/*visited*/
		div#breadcrumb a:visited{
			color:#000;
		}
		/*hover*/
		div#breadcrumb a:hover{
			color:#000;
		}
		
/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION
============================================================*/

#nav li a , #nav li li a, #nav li li li a , #nav li li li li a {
	color: #000;
	border-bottom: 1px solid white;
	background-image:url("/media/css/che/arrow_nav.gif"); 
}

#nav li span.currentbranch0 a, #nav li span.currentbranch1 a, #nav li span.currentbranch2 a, #nav li span.currentbranch3 a, #nav li span.currentbranch4 a {
	background-image: url("/media/css/che/arrow_nav_down.gif")
}

#nav li span.parent, #nav li span.parent a.parent {
	color:#FFF;  
	background-color:#125282; 
	background-image:url("/media/global/templateimages/arrow_nav_down_white.gif");
}

#nav .children {
	color:#000; 
	background-color:#BFD9F2; 
	background-image:url("/media/css/che/arrow_nav.gif");
}

/* all levels hover*/
#nav li a:hover {
	color:#FFF !important;
	background-color:#0A83D2 !important;
	background-image: url("/media/global/templateimages/arrow_white.gif");	
}

#nav li span.currentbranch0 a:hover, #nav li span.currentbranch1 a:hover, #nav li span.currentbranch2 a:hover, #nav li span.currentbranch3 a:hover, #nav li span.currentbranch4 a:hover   {
	background-image: url("/media/global/templateimages/arrow_nav_down_white.gif");
}


/*============================================================
		BOXOUT REGIONS
============================================================*/



.boxout, .leftBox, .rightBox {
	background-color:#D3E3F2;
	border-color:#D3E3F2;
}

.boxoutAlt {
	background-color:#DADADA;
	border-color:#DADADA;	
}


/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/

/*--H1 to H6 text colour--*/
div#mdcolumn h1, div#mdcolumn h2, div#mdcolumn h3, div#mdcolumn h4, div#mdcolumn h5, div#mdcolumn h6{
	color:#1F4E7C;
}

div#mdcolumn h2 {border-bottom:3px solid #CCE1F5; 

}

/* override h2 colour for links  in columns*/
div#mdcolumn .col-half h2 a:link, div#mdcolumn .col-third h2 a:link,
div#mdcolumn .col-half h2 a:visited, div#mdcolumn .col-third h2 a:visited,
div#mdcolumn .col-half h2 a:hover, div#mdcolumn .col-third h2 a:hover{
	color:white;
}
			

div#mdcolumn li {
	background:transparent url("/media/css/che/bullet.gif") no-repeat  0px 4px; 
}


/*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
div#mdcolumn hr{
	color:#BFD9F2;
	background-color:#BFD9F2;
}


	/*--table header border colour, background colour--*/
	table tr th{
		background-color:#125282;
		color:#FFFFFF; 
	
	}
	
	/*--table subheader--*/
	table tbody tr th {
		background-color:#B7DCF9;
		color:#1D1D1D; 
	}


div#mdcolumn input.submit, div#rhcolumn input.submit {
border:1px solid #AAA; 
background-color:#125282; 
color:#FFF; 
}


/*Tabbed content*/

div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover {
	color: #125282; 
}

/*============================================================
		HOMEPAGE FORMATTING
============================================================*/
div#mdcolumn .col-half h2, div#mdcolumn .col-third  h2{
	color:#FFF; 
	background-color:#056DA9; 
}
div#mdcolumn .col-half .boxoutAlt h2, div#mdcolumn .col-third  .boxoutAlt h2{
	color:#000; 
	background-color:#CCCCCC; 
}

/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/
/*--H1 to H4 text colour--*/
/*H1 colour*/
div#rhcolumn h1,div#rhcolumn h2,div#rhcolumn h3,div#rhcolumn h4{
	color:#1F4E7C;
}

div#rhcolumn ul { 
	list-style-type: square;
	list-style-image:  url("/media/css/che/bullet.gif");
}
/*============================================================
		FOOTER
============================================================*/
div#footer{
	border-top:1px solid #E6E5CF;
}

/*============================================================
		General link formatting
============================================================*/
	
a:link{
	color:#125282;
}
a:visited{
		color:#525252;
	}
a:hover{
		color:#125282;
	}
