/*============================================================
		CUSTOMISE COLOURS  - includes code from t4.css
============================================================*/

/*============================================================
		HEADER
============================================================*/
/*header font colour,background colour and background image*/
div#header{
	color:#fff;
	background-color:#000;
	background-image: url("/media/css/festival-of-ideas/watermark.gif");
}

	/*--header h1 area title colour--*/
	div#header div#location h1{
		color:#FFFFFF;
	}

	/*--search label colour--*/
	div#header form label{
		color:#FFFFFF;
	}
	
	/*--search box border colour--*/
	div#header form input{
		color:#000000;
		border:1px solid #D488B2;
	}
	
	/*--search button border colour, text colour, background colour--*/
	div#header form input.submit{
		color:#fff;
		background-color:#B92080;
		border:1px solid #D488B2;
	}
	

/*============================================================
		EXTRA LINKS
============================================================*/
/*--extra-links text colour,background colour--*/
div#extra-links{	
	color:#FFF;
	background-color:#333;
}
	
	/*--highlight surrounding links background colour--*/
	div#extra-links p span{
		background-color:#B92080;
	}
	
		/*--link colours for extra-links--*/
		/*link*/
		div#extra-links p span a:link{
			color:#FFF;
		}
		/*visited*/
		div#extra-links p span a:visited{
			color:#FFF;
		}
		/*hover*/
		div#extra-links p span a:hover{
			color:#FFF;
		}
		

/*============================================================
		BREADCRUMB
============================================================*/
/*--breadcrumb text colour, background colour--*/
div#breadcrumb{
	color:#000;
	background-color:#eee;
}

	/*--link colours for breadcrumb--*/
	/*link*/
	div#breadcrumb a:link{
		color:#000;
	}
		/*visited*/
		div#breadcrumb a:visited{
			color:#000;
		}
		/*hover*/
		div#breadcrumb a:hover{
			color:#000;
		}
		
/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION
============================================================*/

#nav li a , #nav li li a, #nav li li li a , #nav li li li li a {
	color: #000;
	border-bottom: 1px solid white;
	background-image:url("/media/css/festival-of-ideas/arrow_nav.gif"); 
}

#nav li span.currentbranch0 a, #nav li span.currentbranch1 a, #nav li span.currentbranch2 a, #nav li span.currentbranch3 a, #nav li span.currentbranch4 a {
	background-image:url("/media/global/templateimages/arrow_white.gif");
}

#nav li span.parent, #nav li span.parent a.parent {
	color:#FFF;  
	background-color:#111; 
	background-image:url("/media/global/templateimages/arrow_nav_down_white.gif");
}

#nav .children {
	color:#fff; 
	background-color:#b91f7f; 
	background-image:url("/media/global/templateimages/arrow_white.gif");
}

/* all levels hover*/
#nav li a:hover {
	color:#fff !important;
	background-color:#7E0058 !important;
	background-image: url("/media/global/templateimages/arrow_white.gif");	
}

#nav li span.currentbranch0 a:hover, #nav li span.currentbranch1 a:hover, #nav li span.currentbranch2 a:hover, #nav li span.currentbranch3 a:hover, #nav li span.currentbranch4 a:hover   {
	background-image: url("/media/global/templateimages/arrow_nav_down_white.gif");
}


/*============================================================
		BOXOUT REGIONS
============================================================*/



.boxout, .leftBox, .rightBox {
	background-color:#111;
	border-color:#111;
	
}


div#mdcolumn .boxout, 
div#mdcolumn .boxout p, 
div#mdcolumn .boxout h2, 
div#mdcolumn .boxout h3, 
div#mdcolumn .boxout h4, 
div#mdcolumn .boxout h5, 
div#mdcolumn .boxout a:link,
div#mdcolumn .boxout a:visited,
div#mdcolumn .boxout a:hover ,
div#mdcolumn .boxout li ,
div#rhcolumn .boxout, 
div#rhcolumn .boxout p, 
div#rhcolumn .boxout h2, 
div#rhcolumn .boxout h3, 
div#rhcolumn .boxout h4, 
div#rhcolumn .boxout h5, 
div#rhcolumn .boxout a:link,
div#rhcolumn .boxout a:visited,
div#rhcolumn .boxout a:hover,
div#rhcolumn .boxout li
{
	color:#FFF; 
}

.boxoutAlt {
	background-color:#eee;
	border-color:#ddd;	
}






/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/

/*--H1 to H6 text colour--*/
div#mdcolumn h1, div#mdcolumn h2, div#mdcolumn h3, div#mdcolumn h4, div#mdcolumn h5, div#mdcolumn h6{
	color:#b4227e;
}

div#mdcolumn h2 {border-bottom:3px solid #ddd; 

}

/* override h2 colour for links  in columns*/
div#mdcolumn .col-half h2 a:link, div#mdcolumn .col-third h2 a:link,
div#mdcolumn .col-half h2 a:visited, div#mdcolumn .col-third h2 a:visited,
div#mdcolumn .col-half h2 a:hover, div#mdcolumn .col-third h2 a:hover{
	color:white;
}
			

div#mdcolumn ul li {
	background:transparent url("/media/css/festival-of-ideas/bullet.gif") no-repeat  0px 4px; 
}


/*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
div#mdcolumn hr{
	color:#EBD2DB;
	background-color:#EBD2DB;
}


	/*--table header border colour, background colour--*/
	table tr th{
		background-color:#A40144;
		color:#FFFFFF; 
	
	}
	
	/*--table subheader--*/
	table tbody tr th {
		background-color:#EBD2DB;
		color:#1D1D1D; 
	}


div#mdcolumn input.submit, div#rhcolumn input.submit {
border:1px solid #b4227e; 
background-color:#b4227e; 
color:#fff; 
}


/*Tabbed content*/

div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover {
	color: #7A0026; 
}

/*============================================================
		HOMEPAGE FORMATTING
============================================================*/
div#mdcolumn .col-half h2, div#mdcolumn .col-third  h2{
	color:#FFF; 
	background-color:#b4227e; 
}
div#mdcolumn .col-half .boxoutAlt h2, div#mdcolumn .col-third  .boxoutAlt h2{
	color:#FFF; 
	background-color:#b4227e; 
}

/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/
/*--H1 to H4 text colour--*/
/*H1 colour*/
div#rhcolumn h1,div#rhcolumn h2,div#rhcolumn h3,div#rhcolumn h4{
	color:#B91F7F;
}

div#rhcolumn ul { 
	list-style-type: square;
	list-style-image:  url("/media/css/festival-of-ideas/bullet.gif");
}
/*============================================================
		FOOTER
============================================================*/
div#footer{
	border-top:1px solid #E6E5CF;
}

/*============================================================
		General link formatting
============================================================*/
	
a:link{
	color:#b4227e;
}
a:visited{
		color:#b4227e;
	}
a:hover{
		color:#b4227e;
	}
	
/*============================================================
		Festival of Ideas specific styles
============================================================*/	
	
/*Custom calendar icon*/
#upcomingevents .event .eventdate .day  {
	background-color:#b4227e; 
}


div#mdcolumn h1.summary {
	margin-bottom:25px;
}

div#mdcolumn h1.summary span {
	display: block;
	font-size: 80%;
	padding-top: 5px;
}

div#mdcolumn ul#event-facts {
	padding-left:0; 
}

div#mdcolumn ul#event-facts li {
	margin-bottom:15px; 
	min-height:40px; 
	padding-left:45px; 

}

div#mdcolumn ul li.when {
	background: transparent url("/media/css/festival-of-ideas/clock.png") no-repeat 0px 5px;
}

div#mdcolumn ul li.tickets {
	background: transparent url("/media/css/festival-of-ideas/ticket.png") no-repeat 0px 5px;
}

div#mdcolumn ul li.tickets a.book {
	background-color: #B92080;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	text-decoration:none; 
}
div#mdcolumn ul li.tickets a.book:hover {
	background-color:#7E0058; 
}

div#mdcolumn ul li.where {
	background: transparent url("/media/css/festival-of-ideas/pin.png") no-repeat 0px 5px;
}

#event abbr.dtstart {
	/* font-size: 100%; */
}

li.tickets .free { 
	color:#B92080; 
	font-size:110%; 
	font-weight:bold; 
}

.location { 
	font-weight:bold; 	
}

/*Related events*/

#rhcolumn #related{
	background-color:#eee;
	border-color:#ddd; 
}

div#rhcolumn #related h2, div#rhcolumn #related a {
	color:#B92080; 
}

div#rhcolumn #related p {
	color:#000; 
}

div#rhcolumn .boxout p.related-event {
	margin-bottom:10px; 
	margin-top:0; 
}

div#rhcolumn  .title a {
	color:#B92080 !important; 
	display:block; 
	font-weight:bold; 
}

div#rhcolumn  .date {
	color:#333; 
	display:block; 
	font-size: 85%;
}


#notify input.submit {
	padding:5px 10px;
	width:200px; 
}