/*============================================================
		CUSTOMISE COLOURS  - includes code from t4.css
============================================================*/

/*============================================================
		HEADER
============================================================*/
/*header font colour,background colour and background image*/
div#header{
	color:#000;
	background-color:#666666;
	background-image: url("/media/css/computer-science/watermark.gif");
}

	/*--header h1 area title colour--*/
	div#header div#location h1{
		color:#EFF5B1;
	}

	/*--search label colour--*/
	div#header form label{
		color:#FFF;
	}
	
	/*--search box border colour--*/
	div#header form input{
		color:#000000;
		border:1px solid #B5C55C;
	}
	
	/*--search button border colour, text colour, background colour--*/
	div#header form input.submit{
		color:#000000;
		background-color:#E9F4AB;
		border:1px solid #B5C55C;
	}
	
		/*--search paragraph separator pipe (|) colour--*/
		div#header form p{
			color:#fff;
		}
	

/*============================================================
		EXTRA LINKS
============================================================*/
/*--extra-links text colour,background colour--*/
div#extra-links{	
	color:#FFF;
	background-color:#B5C55C;
}
	
	/*--highlight surrounding links background colour--*/
	div#extra-links p span{
		background-color:#015580;
	}
	
		/*--link colours for extra-links--*/
		/*link*/
		div#extra-links p span a:link{
			color:#FFF;
		}
		/*visited*/
		div#extra-links p span a:visited{
			color:#FFF;
		}
		/*hover*/
		div#extra-links p span a:hover{
			color:#FFF;
		}
		

/*============================================================
		BREADCRUMB
============================================================*/
/*--breadcrumb text colour, background colour--*/
div#breadcrumb{
	color:#000;
	background-color:#E9F4AB;
}

	/*--link colours for breadcrumb--*/
	/*link*/
	div#breadcrumb a:link{
		color:#000;
	}
		/*visited*/
		div#breadcrumb a:visited{
			color:#000;
		}
		/*hover*/
		div#breadcrumb a:hover{
			color:#000;
		}
		
/*============================================================
		LEFT COLUMN BLOCKED NAVIGATION
============================================================*/

#nav li a , #nav li li a, #nav li li li a , #nav li li li li a {
	color: #000;
	border-bottom: 1px solid white;
	background-image:url("/media/css/computer-science/arrow_nav.gif"); 
}

#nav li span.currentbranch0 a, #nav li span.currentbranch1 a, #nav li span.currentbranch2 a, #nav li span.currentbranch3 a, #nav li span.currentbranch4 a {
	background-image: url("/media/css/computer-science/arrow_nav_down.gif")
}

#nav li span.parent, #nav li span.parent a.parent {
	color:#FFF;  
	background-color:#015580; 
	background-image:url("/media/global/templateimages/arrow_nav_down_white.gif");
}

#nav .children {
	color:#000; 
	background-color:#E9F4AB; 
	background-image:url("/media/css/computer-science/arrow_nav.gif");
}

/* all levels hover*/
#nav li a:hover {
	color:#000 !important;
	background-color:#CDDB7C !important;
	background-image: url("/media/global/templateimages/arrow_white.gif");	
}

#nav li span.currentbranch0 a:hover, #nav li span.currentbranch1 a:hover, #nav li span.currentbranch2 a:hover, #nav li span.currentbranch3 a:hover, #nav li span.currentbranch4 a:hover   {
	background-image:url("/media/global/templateimages/arrow_nav_down_white.gif");
}


/*============================================================
		BOXOUT REGIONS
============================================================*/



.boxout, .leftBox, .rightBox {
	background-color:#E8ECF1;
	border-color:#E8ECF1;
}

.boxoutAlt {
	background-color:#E9F4AB;
	border-color:#E9F4AB;	
}



div#mdcolumn .boxoutAlt a:link,
div#mdcolumn .boxoutAlt a:visited,
div#mdcolumn .boxoutAlt a:hover ,
div#rhcolumn .boxoutAlt a:link,
div#rhcolumn .boxoutAlt a:visited,
div#rhcolumn .boxoutAlt a:hover {
	color:#244857; 
}


/*============================================================
		MIDDLE COLUMN TEXT FORMATTING
============================================================*/

/*--H1 to H6 text colour--*/
div#mdcolumn h1, div#mdcolumn h2, div#mdcolumn h3, div#mdcolumn h4, div#mdcolumn h5, div#mdcolumn h6{
	color:#244857;
}

div#mdcolumn h2 {
	border-bottom:3px solid #E8ECF1; 
}

/* override h2 colour for links  in columns*/
div#mdcolumn .col-half h2 a:link, div#mdcolumn .col-third h2 a:link,
div#mdcolumn .col-half h2 a:visited, div#mdcolumn .col-third h2 a:visited,
div#mdcolumn .col-half h2 a:hover, div#mdcolumn .col-third h2 a:hover{
	color:white;
}
			

div#mdcolumn li, div#mdcolumn ol ul li {
	background:transparent url("/media/css/computer-science/bullet.gif") no-repeat  0px 4px; 
}

/*--HR colour,background colour (BOTH VALUES MUST BE SAME COLOUR)--*/
div#mdcolumn hr{
	color:#E8ECF1;
	background-color:#E8ECF1;
}


	/*--table header border colour, background colour--*/
	table tr th{
		background-color:#015580;
		color:#FFFFFF; 
	
	}
	
	/*--table subheader--*/
	table tbody tr th {
		background-color:#EAEDF2;
		color:#1D1D1D; 
	}

div#mdcolumn input, div#mdcolumn textarea, div#rhcolumn input, div#rhcolumn textarea  {
border:1px solid #AAA; 
}

div#mdcolumn input.submit, div#rhcolumn input.submit {
border:1px solid #AAA; 
background-color:#E9F4AB; 
color:#111; 
}


/*Tabbed content*/

div#mdcolumn ul.tabNavigation li a.selected, div#mdcolumn ul.tabNavigation li a.selected:hover {
	color: #CC3300; 
}

/*Course template*/
div#mdcolumn #course-apply-now {
	background-color: #B5C55C;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cfe361), to(#B5C55C));
	background-image: -webkit-linear-gradient(top, #cfe361, #B5C55C);
	background-image: -moz-linear-gradient(top, #cfe361, #B5C55C);
	background-image: -ms-linear-gradient(top, #cfe361, #B5C55C);
	background-image: -o-linear-gradient(top, #cfe361, #B5C55C);
	background-image: linear-gradient(top, #cfe361, #B5C55C);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#cfe361', EndColorStr='#B5C55C'); 
	border-color: #B5C55C; 
	color:#111; 
}

div#mdcolumn #course-apply-now:hover {
	background-color:#B5C55C; 
}


/*============================================================
		HOMEPAGE FORMATTING
============================================================*/
div#mdcolumn .col-half h2, div#mdcolumn .col-third  h2{
	color:#FFF; 
	background-color:#015580; 
}
div#mdcolumn .col-half .boxoutAlt h2, div#mdcolumn .col-third  .boxoutAlt h2{
	color:#FFF; 
	background-color:#666666; 
}

/*============================================================
		RIGHT COLUMN TEXT FORMATTING
============================================================*/
/*--H1 to H4 text colour--*/
/*H1 colour*/
div#rhcolumn h1,div#rhcolumn h2,div#rhcolumn h3,div#rhcolumn h4{
	color:#244857;
}

div#rhcolumn ul { 
	list-style-type: square;
	list-style-image:  url("/media/css/computer-science/bullet.gif");
}
/*============================================================
		FOOTER
============================================================*/
div#footer{
	border-top:1px solid #B5C55C;
}

/*============================================================
		General link formatting
============================================================*/
	
a:link{
	color:#04779d;
}
a:visited{
		color:#225e72;
	}
a:hover{
		color:#04779d;
	}
